* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family:'Rubik', 'Arial' ,'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: #fff;
  color: #4a4b4c;
  letter-spacing: 1px;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

button {
  cursor: pointer;
  line-height: normal;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: rgba(74, 75, 76, 1);
}

h3 {
  color:rgba(0, 0, 0, 1);
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Outli-styles */

*:focus {
  outline: 2px dashed rgba(114, 150, 236, 1);
  outline-offset: 3px;
}

/* Rubik 700 , 400 , 500
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', 'Open Sans', sans-serif;
*/

/* LOGO SECTION */

.header-background{
  background-color:rgba(246, 246, 246, 1);
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.site-logo-currency {
  display: flex;
  align-items: center;
}
.site-logo {
  background-color: #fff;
  padding: 9px 6px;
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 35px;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.6;
}
.logo-link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(114, 150, 238, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.currency {
  display: flex;
  align-items: center;
}
.currency-item {
  list-style: none;
}
.currency-item:not(:last-child) {
  margin: 0;
  margin-right: 25px;
}
strong {
  color: rgba(41, 89, 206, 1);
}
.search-section {
  display: flex;
  align-items: center;
}
.input {
  border-radius: 60px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 40px;
  padding-right: 20px;
  width: 275px;
  margin-right: 25px;
  border-color: transparent;
  font-size: 14px;
  line-height: normal;
}

.language-container {
  display: flex;
  background-color: #DCE6FF;
  border: transparent;
  border-radius: 39px;
  padding: 3px;
  font-size: 13px;
  /* width: 76px; */
  margin-right: 25px;
}
.language-link {
  text-decoration: none;
  border-radius:50%;
  color:rgba(166, 166, 166, 1);
  font-weight: 400;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  align-items: center;
  border-radius: 50%;
}
.language-link-active {
  background-color: #fff;
  color: #000;
}


.header-button {
  text-align: center;
  padding: 13px 20px;
  color:#fff;
  background-color:  rgba(114, 150, 236, 1);
  border-radius: 10px;
  width: 89px;
  border-color: transparent;

}

/* NAVIGATION BAR */
.nav-bar-container {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.nav-bar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 1px solid #D1D1D1;
}
.nav-bar-item {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center;
  /* flex-grow: 1; */
}
.nav-bar-item:not(:last-child){
  margin-right: 25px;
}

.nav-bar-link {

  text-decoration: none;
  color: #7F7F7F;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.nav-bar-link:hover {
  color:rgba(114, 150, 236, 1);
}
.nav-bar-link:active {
  opacity: 0.6;
}

.nav-bar-line {
  color: #DCE6FF
}

.header-advert-img {
  display: flex;
  width: 1160px;
  height: 128px;
  margin-top: 40px;

}

/* Main content */

 /* NEWS CARD */
.news-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.news-card {
  width: 376px;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 15px;
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 0px;
}


.news-card-source {
  display: flex;
  align-items: center;
}
.news-card-source-text {
  margin-left: 10px;
  font-size: 12px;
}

/* orange-advert */

.orange-advert {
  background: url(/img/background.png);
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.orange-button {
  background-color: rgba(247, 139, 59, 1);
  color:#fff;
  align-items: center;
  font-size: 20px;
  line-height: 23.7px;
  border-radius: 10px;
  padding: 13px 30px;
  margin-right: 71px;
  border-color: transparent;
}
.orange-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 29px;
}

/* In the world */
.main {
  display: flex;
  justify-content: space-between;
}
.main-content-heading {
  margin-top: 60px;
  margin-bottom: 20px;
}

.main-content-list{
  margin: 0;
  padding: 0;
}
.main-content-item {
  display: flex;
  align-items: center;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 15px;
  margin-bottom: 10px;
}
.main-content-image {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 15px;
}
.main-content-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top:10px;
  margin-bottom: 0;
}
.main-content-text-heading {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 0;
}

.main-content-icon {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main-content-icon-image {
  margin-right: 10px;
}
.main-content-icon-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.main-content-button {
  background-color: rgba(234, 234, 234, 1);
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 327px;
  padding-left: 327px;
  border-color: transparent;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

/* Main-content-uz */

.main-content-uz {
  background-color: rgba(246, 246, 246, 1);
  border-radius: 15px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.main-content-uz-heading {
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 17px;
}
.uzbek-news-item-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-left: 17px;
}
.uzbek-news-item-text {
  padding-left: 17px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
/* .main-content-uz li:not(:last-child) {
  border-bottom: 1px solid rgba(210, 210, 210, 1);
} */
hr {
  width: 345px;
  height: 0;
  background-color: #D2D2D2;
  margin-top: 20px;
}
.olmos-ads {
  margin-top: 10px;
  margin-left: 10px;
  width:"375";
  height:"338";
}

/* FOOTER */
.footer {
  background-color: rgba(114, 151, 239, 1);
  margin-top: 100px;
}
.footer-container {
  padding-right: 100px;
  padding-left: 100px;
}
.footer-logo-link {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.footer-info {
display: flex;
align-items: center;
justify-content: space-between;
color:rgba(255, 255, 255, 1);
}
.footer-info-text {

  width: 230px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px
}
.footer-links a {
  color:rgba(255, 255, 255, 1);
}
.footer-hr {
 background-color: rgba(206, 206, 206, 1);
 margin-top: 30px;
 margin-bottom: 20px;
 width: 998px;
 margin-right: auto;
 margin-left: auto;
}
.socials-text {
  color: #fff;
  font-size: 18px;
  line-height: 23px
}
.socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-ul {
  display: flex;
  align-items: center;
}
.footer-ul li:not(:last-child) {
  margin-right: 33px;
}